<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微人事系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/demo/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/demo/css/font.css">
    <link rel="stylesheet" href="/demo/css/xadmin.css">
    <script type="text/javascript" src="/demo/js/jquery-3.2.1.min.js"></script>
    <script src="/demo/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/demo/js/xadmin.js"></script>
    <style>
        .layui-inline{
            margin: 15px 10px;
        }
    </style>
</head>

<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" id = "form" action="/demo/addEmployee.action" method="post">
        <div class="layui-form-item">
            <input name="id" value="" hidden="hidden">
            <div class="layui-inline">
                <label class="layui-form-label">员工姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">员工性别</label>
                <div class="layui-input-inline">
                    <input type="text" lay-verify="required" name="gender"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">籍贯</label>
                <div class="layui-input-inline">
                    <input type="text" name="nativeplace" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-inline">
                    <input type="text" name="workid" lay-verify="required" class="layui-input"  >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" name="idcard" lay-verify="required"  class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" lay-verify="required|phone" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="email" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="birthday" lay-verify="date" placeholder="yyyy-MM-dd" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="address" lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">聘用形式</label>
                <div class="layui-input-inline">
                    <input type="text" name="engageform" lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">最高学历</label>
                <div class="layui-input-inline">
                    <input type="text" name="tiptopdegree" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">毕业院校</label>
                <div class="layui-input-inline">
                    <input type="text" name="school" lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工作状态</label>
                <div class="layui-input-inline">
                    <input type="text" name="workstate" lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合同期限</label>
                <div class="layui-input-inline">
                    <input type="text" name="contractterm" lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合同开始</label>
                <div class="layui-input-inline">
                    <input type="text" name="begincontract" lay-verify="date" placeholder="yyyy-MM-dd"class="layui-input" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">合同结束</label>
                <div class="layui-input-inline">
                    <input type="text" name="endcontract" lay-verify="date" placeholder="yyyy-MM-dd" class="layui-input" >
                </div>
            </div>
        </div><br/>
        <div class="layui-form-item">
            <div class="layui-input-block" style="width:180px; margin:5px auto;">
                <input class="layui-btn" lay-submit=""  type="submit" />
                <button type="reset" class="layui-btn layui-btn-primary"  type="button" >重置</button>
            </div>
        </div>
    </form>

</div>


</body>

</html>