<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuorong.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.tuorong.model.Admin" >
    <id column="hrid" property="hrid" jdbcType="INTEGER" />
    <result column="hrname" property="hrname" jdbcType="VARCHAR" />
    <result column="hrphone" property="hrphone" jdbcType="CHAR" />
    <result column="loginname" property="loginname" jdbcType="CHAR" />
    <result column="loginpwd" property="loginpwd" jdbcType="VARCHAR" />
    <result column="secretkey" property="secretkey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hrid, hrname, hrphone, loginname, loginpwd, secretkey
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where hrid = #{hrid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where hrid = #{hrid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tuorong.model.Admin" >
    insert into admin (hrid, hrname, hrphone, 
      loginname, loginpwd, secretkey
      )
    values (#{hrid,jdbcType=INTEGER}, #{hrname,jdbcType=VARCHAR}, #{hrphone,jdbcType=CHAR}, 
      #{loginname,jdbcType=CHAR}, #{loginpwd,jdbcType=VARCHAR}, #{secretkey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tuorong.model.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hrid != null" >
        hrid,
      </if>
      <if test="hrname != null" >
        hrname,
      </if>
      <if test="hrphone != null" >
        hrphone,
      </if>
      <if test="loginname != null" >
        loginname,
      </if>
      <if test="loginpwd != null" >
        loginpwd,
      </if>
      <if test="secretkey != null" >
        secretkey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hrid != null" >
        #{hrid,jdbcType=INTEGER},
      </if>
      <if test="hrname != null" >
        #{hrname,jdbcType=VARCHAR},
      </if>
      <if test="hrphone != null" >
        #{hrphone,jdbcType=CHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=CHAR},
      </if>
      <if test="loginpwd != null" >
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null" >
        #{secretkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuorong.model.Admin" >
    update admin
    <set >
      <if test="hrname != null" >
        hrname = #{hrname,jdbcType=VARCHAR},
      </if>
      <if test="hrphone != null" >
        hrphone = #{hrphone,jdbcType=CHAR},
      </if>
      <if test="loginname != null" >
        loginname = #{loginname,jdbcType=CHAR},
      </if>
      <if test="loginpwd != null" >
        loginpwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null" >
        secretkey = #{secretkey,jdbcType=VARCHAR},
      </if>
    </set>
    where hrid = #{hrid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuorong.model.Admin" >
    update admin
    set hrname = #{hrname,jdbcType=VARCHAR},
      hrphone = #{hrphone,jdbcType=CHAR},
      loginname = #{loginname,jdbcType=CHAR},
      loginpwd = #{loginpwd,jdbcType=VARCHAR},
      secretkey = #{secretkey,jdbcType=VARCHAR}
    where hrid = #{hrid,jdbcType=INTEGER}
  </update>
</mapper>